/* =========================================
   Archivo: page-not-found.css
   Tipo: Hoja de estilos
   Descripción: Reglas específicas para la página de error 404
   ========================================= */

/* Efecto de hover para un boton */
.pnf__btn--hover:hover {
  background-color: rgb(var(--white)) !important;
  color: rgb(var(--background-app)) !important;
}

/* Texto de advertencia */
.pnf__warning-text {
  color: rgb(var(--red));
}
